# Dependencies
node_modules/
/dist/
/build/

# Rust
/backend/target/
Cargo.lock

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
cargo-install.log

# OS
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Build
.dist/
.cache/

# Node compile cache
node-compile-cache/
